# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\razniMaterijali\AlgosJavaCoursera1\3week_colinearPoints\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
